// ABOUT

.about {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 767px) {
        width: 95%;
    }
}

.about-video-container {
    width: 70%;
    margin: var(--heading-margin) auto;
    img {
        width: 100%;
        object-fit: cover;
    }
    @media (max-width: 767px) {
        width: 100%;
    }
}

.about-middle-section {
    @include flex-between;
    margin-top: 0;
}
.about-item-container {
    // margin-top: 2rem;
    flex: 0 0 33%;
    @include flex-middle;
    // padding: 2rem;
    img {
        width: 8rem;
    }
    & > * {
        margin-bottom: 1rem;
    }
    @media (max-width: 767px) {
        // margin-top: 2rem;
        flex: 0 0 100%;
    }
}

.about-banner-last {
    // background-image: url("site_assets/images/about/Group 2086.png");
    height: 45vh;

    .provider-inner-suggestion-section {
        p {
            width: 100%;
            text-align: center;
        }
    }
}

.provider-inner-suggestion-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    padding: 2rem;
    background-color: var(--gn-3);
    border-radius: 2rem;
    @media (max-width: 767px) {
        width: 95%;
    }

    .provider-inner-suggestion-section {
    }
}

.suggestion-parag {
    width: 100%;
    // @include flex-center;

    a {
        margin: 0 0.5rem;
        text-decoration: underline;
        transition: all 0.2s ease-in-out;
        display: inline-block;
        &:hover {
            color: var(--red);
        }
    }
}

.about-middle-section {
    margin-top: 0 !important;
}

.providers-inner-last {
    height: 60vh !important;
    @media (max-width: 767px) {
        height: 100vh !important;
        .providers-banner-text-videon-container {
            transform: translateY(0%);
        }
    }
    @media (max-height: 700px) {
        height: 95vh !important;
    }
}


#new-about-sugesstion-big-container{
    
    @media(max-height:1000px){
        height: 50vh !important;
    }

    @media(max-height:700px){
        height: 68vh !important;
    }

    @media(max-height:500px){
        height: 87vh !important;
    }

    .new-about-sugesstion-container{
        position: relative;
        height: 100%;
        transform: translateY(0%)!important;
        padding-top: 5rem;
    }
    .new-about-sugesstion{
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translate(-50%, 4%);
    }
}
