.faqs {
    max-width: 90rem;
    margin: var(--section-margin) auto;
}
.faqs-intro {
    margin-bottom: var(--heading-margin);
}
.faqs-container {
}
.faqs-item-container {
    background: linear-gradient(180deg, rgb(201, 201, 201), rgb(238, 224, 224));
    padding: 1.2rem 2rem;
    border-radius: 5px;
    margin-bottom: 0.7rem;

    p {
        background-color: transparent;
        max-height: 0px;
        visibility: hidden;
        opacity: 0;
        // transform: translateY(-75%);
        // width: 90%;
    }
}
.faqs-btn {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    @include flex-between;
    cursor: pointer;
    span:nth-child(1) {
        // display: none;
    }
    span:nth-child(2) {
        // display: none;
    }
}

.showfaqs{
    animation: showfaqs 1s ease forwards;
}

.rotatex{
    animation: rotatex 1s ease forwards;
}

@keyframes rotatex {
    from{
     
         transform: rotateZ(0deg);
       
    }
    to{
        max-height: 500px;
        visibility:visible;
        opacity: 1;
         transform: rotateZ(315deg);
    }
}

@keyframes showfaqs {
    from{
        max-height: 0px;
        visibility: hidden;
        opacity: 0;
       
    }
    to{
        max-height: 500px;
        visibility:visible;
        opacity: 1;
        //  transform: translateY(0%);
    }
}