//PROVIDER FORM

.provider-form {
    margin-top: var(--section-margin);
    h3 {
        margin-left: 13%;
        margin-bottom: 2.5rem;

        @media (max-width: 850px) {
            margin-left: 4%;
        }
    }

    .provider-form-products-section {
        .reg-form-group {
            flex-wrap: wrap;
            @media (max-width: 850px) {
            }
        }
        .reg-form-inpput {
            flex: 0 0 86%;
            @media (max-width: 850px) {
                flex: 0 0 92%;
            }
            @media (max-width: 767px) {
                flex: 0 0 100%;
            }
        }
        .reg-form-label {
            flex: 0 0 83%;
            margin-bottom: 1rem;
            @media (max-width: 850px) {
                flex: 0 0 90%;
            }
            @media (max-width: 767px) {
                flex: 0 0 100%;
            }
        }
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 99%;
        background-position-y: 5px;
        border: 1px solid #dfdfdf;
        border-radius: 2px;
        // margin-right: 2rem;
        padding: 1rem;
        padding-right: 2rem;
    }

    .provider-form-personal-section {
        .reg-form-group:nth-child(5) {
            flex: 0 0 83%;
            @media (max-width: 1000px) {
                flex: 0 0 94%;
            }
            @media (max-width: 850px) {
                flex-wrap: wrap;
                flex: 0 0 100%;
            }
            .reg-form-inpput {
                flex: 0 0 81.5%;
                @media (max-width: 1000px) {
                    flex: 0 0 82.5%;
                }
                @media (max-width: 850px) {
                    flex: 0 0 80.5%;
                }
                @media (max-width: 850px) {
                    flex: 0 0 100%;
                }
            }
            .reg-form-label {
                flex: 0 0 7%;
                @media (max-width: 850px) {
                    flex: 0 1 10%;
                }
                @media (max-width: 850px) {
                    flex: 0 0 100%;
                }
            }
        }
    }
    .providers-form-tersm-condition {
        width: 80%;
        margin: 0 auto;
        @media (max-width: 767px) {
            width: 95%;
        }
        .profivers-form-inputs-container {
            max-width: 85%;
            margin-left: auto;
            @media (max-width: 767px) {
                max-width: 100%;
            }
        }

        label {
            font-size: 14px;
            color: var(--gr-1);
            text-align: justify;
        }
        a {
            display: inline-block;
            color: var(--gn-1);
            font-weight: 700;
            transition: all 0.3s ease;
            margin: 0 0.3rem;
            &:hover {
                color: var(--gn-3);
            }
        }
        .register-btn-container {
            margin: 0;
            max-width: 85%;
            margin-left: 50%;
            margin-top: 2rem;
            @media (max-width: 767px) {
                max-width: 100%;
                margin: auto;
                margin-top: 1rem;
            }
        }

        .add-to-cart-btn {
            margin: 0;
        }
    }
}

.terms-conditions-checkbox {
    margin: 0 0.5rem;
}

//PROVIDER FORM
